.App {
    text-align: center;
    position: relative;
    min-height: 100vh;
}
nav > a {
    text-decoration: none;
    width: 100%;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}
.footer > p {
    font-size: 15px;
}
.footer > p > a {
    margin-left: 10px;
}
.home-style > h1 {
    text-align: center;
}
.home-style {
    margin: 15px;
    text-align: justify;
}
.home-style > img {
    width: 400px;
}
