.App {
    text-align: center;
    position: relative;
    min-height: 100vh;
}
nav > a {
    text-decoration: none;
    width: 100%;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}
.footer > p {
    font-size: 15px;
}
.footer > p > a {
    margin-left: 10px;
}
